# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
//*.dll
*.so
*.so.*
*.dylib

# Executables
//*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/packages
/.vs

# User-specific files
*.suo
*.user


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/


# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/



*.pubxml
/.vscode
App_log/
App_Data/
error/
